<div class="flex">
    <div class="h-[100vh] w-2/5">
        <img src="./assets/img/macbook.png" alt="macbook" class="h-[100vh] w-full object-cover">
    </div>
    <div class="h-[100vh] w-3/5 bg-[#FFFBFA] overflow-auto">
        <form class="px-[10%] py-[5%]">
            <p class="font-bold text-5xl text-[#524C4C] mr-[25%] mb-6">Hey, We are glad you chose Quick learner</p>
            <p class="linea text-xl mb-5"><span>Lets get started</span></p>
            <div class="flex justify-between mb-8">
                <button mat-raised-button class="bg-white py-6" type="button"><mat-icon  class="m-0 mr-1">public</mat-icon> Google account</button>
                <button mat-raised-button class="bg-white py-6" type="button"><mat-icon  class="m-0 mr-1">thumb_up</mat-icon> Facebook account</button>
            </div>
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Name</mat-label>
                <input matInput type="text">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Mobile number</mat-label>
                <input matInput type="tel" maxlength="10">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Email</mat-label>
                <input matInput type="email">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Password</mat-label>
                <input matInput type="password">
            </mat-form-field>
            <div class="flex justify-center">
                <button mat-raised-button class="bg-[#524C4CB8] text-white font-semibold py-6" type="button">Sign up</button>
            </div>
        </form>
    </div>
</div>