*{
@apply font-sans
}
.linea {
    text-align: center;
    position: relative;
    z-index: 1;
}

.linea::before {
    border-top: 2px solid rgba(23, 20, 20, 0.38);
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.linea span {
    background-color: #FFFBFA;
    padding: 0 15px;
}